.CONTAINER1 {
  width: min(80%, 1000px);
  box-sizing: border-box;
  height: 250px;
  resize: vertical;
  margin: auto;
  background: rgba(0, 0, 0, 0.1);
  border: 1px #535353 solid;
  backdrop-filter: blur(20px);
  border-radius: 25px;
  margin-top: 25px;
}

.formulariocabezera {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 90%;
  gap: 10px;
}

select,
.ubicacion input,
.fecha input {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  height: 65px;
  padding: 10px;
  border-radius: 20px;
  border: 1px #838383 solid;
  background: rgba(183, 183, 183, 0.1);
  backdrop-filter: blur(25px);
  box-shadow: #80ed99 0px 0px 6px 1px;
  font-size: 1em;
  color: white;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

select {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.6);
   white-space: normal; 
  word-wrap: break-word;
}

select:valid {
  color: white;
}

select option {
  background: #1a1a1a;
  color: white;
}

select option[value=""] {
  color: rgba(255, 255, 255, 0.6);
}

.btn-1 {
  background: linear-gradient(to right, #1b9aaa, #2ec4b6, #80ed99);
  border: none;
  border-radius: 20px;
  color: white;
  width: 150px;
  height: 65px;
}

.btn-1:hover {
  box-shadow: 0 0 10px #00ff62, 0 0 25px #00ff62, 0 0 45px #00ff62;
  transform: translateY(-10px);
  transition: 0.8s;
}

.disponibilidad {
  font-family: "moon_get-Heavy";
  color: #ffffff;
  font-weight: bold;
  font-size: 0.5em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 1px;
}


.disponibilidad .icon-reloj{
 margin: auto;
 color: #1b9aaa;

 
 
  
}

.text-red-500{
  color: red;
  font-size: .9em;
   margin-top: 5px;
}